/*
    COMP 333: Software Engineering
    Trey Plante and Gunn Jungpaibul
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Raleway:wght@100;400&display=swap');
@import-normalize;

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, ul, li {
    vertical-align:baseline;
    background:transparent;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-family: 'Raleway', sans-serif;
}

body {
    line-height:1;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
}

#pagetitle {
    font-family: 'Raleway Dots', cursive;
    font-size: 100px;
    color: black;
}

h1 {
    color:black;
    padding: 18px;
}

p {
    padding:18px;
}

.list ul {
    list-style-type: circle;
    overflow: hidden;
    padding: 25px;
}

.navbar ul {
    list-style-type: none;
    background-color: #95686C;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #F4ECDB;
    text-align: center;
    padding: 18px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #E7D4B8;
}

.container {
    position: relative;
    text-align: center;
}