<!--
    COMP 333: Software Engineering
    Trey Plante and Gunn Jungpaibul
-->

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Song Rater</title>
</head>
<body>

    {% include './messages.html' %}

    <h1 id="pagetitle">Song Rater</h1>

    <h1>Register!</h1>
    <form method="post">
        {% csrf_token %}
        {{ UserForm }}
        <input type="submit" value="Submit">
    </form>

    <h1>Look up Ratings!</h1>
    <form method="get">
        {% csrf_token %}
        {{ RatingForm }}
        <input type="submit" value="Retrieve" name="Retrieve">
        {% if ratings %}
        <table>
            {% for rating in ratings %}
            <tr>
                <td>{{rating.str}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </form>

    <h1>Look up Albums!</h1>
    <form method="get">
        {% csrf_token %}
        {{ AlbumForm }}
        <input type="submit" value="Search" name="Search">
        {% if albums %}      
        <table>
            {% for album in albums %}
            <tr>
                
                <td>{{album.str}}</td>
                <table>
                    Songs: <br>
                    {% for song in album.songs %}
                    <tr>
                        <td>{{song}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </form>


</body>
</html>